.cube-net {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 8px;
    width: max-content;
}

.cube-net__face--U {
    grid-column: 2;
    grid-row: 1;
}

.cube-net__face--L {
    grid-column: 1;
    grid-row: 2;
}

.cube-net__face--F {
    grid-column: 2;
    grid-row: 2;
}

.cube-net__face--R {
    grid-column: 3;
    grid-row: 2;
}

.cube-net__face--B {
    grid-column: 4;
    grid-row: 2;
}

.cube-net__face--D {
    grid-column: 2;
    grid-row: 3;
}